<a href="https://colab.research.google.com/github/almostdevelopr/data-science-python/blob/main/sqlite3/sqlite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this notebook, we will try to implement/use databases with the help of python. In this notebook, we will use very simple, lite database called sqlite database.

* In memory database -> (final in database)

In [1]:
import sqlite3

Connect to the database SQLite3

In [2]:
# establish connection
connection=sqlite3.connect("xyz") # xyz -> database

In [3]:
connection.execute("DROP TABLE IF EXISTS ABC")

Returns cursor to the connection.

In [4]:
connection.execute("CREATE TABLE ABC(id int, name text, score int)")

In [5]:
connection.execute("INSERT INTO ABC(id,name,score) VALUES(590,'almost',99)")

In [6]:
connection.commit()

In [7]:
connection.execute("INSERT INTO ABC(id,name,score) VALUES(591,'almost1',69)")
connection.execute("INSERT INTO ABC(id,name,score) VALUES(592,'almost2',79)")
connection.execute("INSERT INTO ABC(id,name,score) VALUES(593,'almost3',89)")
connection.execute("INSERT INTO ABC(id,name,score) VALUES(594,'almost4',39)")
connection.execute("INSERT INTO ABC(id,name,score) VALUES(595,'almost5',59)")
connection.execute("INSERT INTO ABC(id,name,score) VALUES(596,'almost6',49)")
connection.execute("INSERT INTO ABC(id,name,score) VALUES(597,'almost7',99)")

In [8]:
connection.commit()

Let us try to query table data

In [10]:
list(connection.execute("SELECT * FROM ABC"))

[(590, 'almost', 99),
 (591, 'almost1', 69),
 (592, 'almost2', 79),
 (593, 'almost3', 89),
 (594, 'almost4', 39),
 (595, 'almost5', 59),
 (596, 'almost6', 49),
 (597, 'almost7', 99)]

In [11]:
list(connection.execute("select * from ABC"))[0]

(590, 'almost', 99)

In [12]:
for i in connection.execute("select * from ABC"):
    print(i)

(590, 'almost', 99)
(591, 'almost1', 69)
(592, 'almost2', 79)
(593, 'almost3', 89)
(594, 'almost4', 39)
(595, 'almost5', 59)
(596, 'almost6', 49)
(597, 'almost7', 99)

In [14]:
for i in connection.execute("select * from ABC order by score"): # ascending order
    print(i)

(594, 'almost4', 39)
(596, 'almost6', 49)
(595, 'almost5', 59)
(591, 'almost1', 69)
(592, 'almost2', 79)
(593, 'almost3', 89)
(590, 'almost', 99)
(597, 'almost7', 99)

In [16]:
for i in connection.execute("select id,name from ABC where name='almost3'"):
    print(i)

(593, 'almost3')