<a href="https://colab.research.google.com/github/almostdevelopr/data-science-python/blob/main/pandas/intro_to_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
import numpy as np

In [3]:
dict1={
    "name":['rohan','manish','suna','harry'],
    "marks":[92,32,44,53],
    "city":['rampur','kolkata','bareilly','mumbai']
}

In [4]:
df=pd.DataFrame(dict1)

In [5]:
df

     name  marks      city
0   rohan     92    rampur
1  manish     32   kolkata
2    suna     44  bareilly
3   harry     53    mumbai

In [ ]:
# auto indexing in data frames

In [6]:
df.to_csv("friends.csv")

In [7]:
df.to_csv("friends_no_index.csv",index=False)

In [8]:
df.describe() # for numerical data only -> calculates mean,count,std,min

           marks
count   4.000000
mean   55.250000
std    25.966324
min    32.000000
25%    41.000000
50%    48.500000
75%    62.750000
max    92.000000

In [9]:
df_mod=pd.read_csv("friends_no_index.csv")

In [11]:
df_mod.index=['first','second','third','fourth']

In [12]:
df_mod

          name  marks      city
first    rohan     92    rampur
second  manish     32   kolkata
third     suna     44  bareilly
fourth   harry     53    mumbai

In [15]:
ser = pd.Series(np.random.rand(34))

In [16]:
ser

0     0.969223
1     0.839792
2     0.238491
3     0.688630
4     0.522608
5     0.187135
6     0.851087
7     0.444879
8     0.696902
9     0.486396
10    0.116602
11    0.886938
12    0.244037
13    0.571724
14    0.765867
15    0.079905
16    0.775350
17    0.432995
18    0.507701
19    0.739386
20    0.067402
21    0.334689
22    0.397479
23    0.864811
24    0.789014
25    0.465502
26    0.498181
27    0.213462
28    0.888900
29    0.952192
30    0.947566
31    0.025094
32    0.886101
33    0.932818
dtype: float64

In [17]:
type(ser)

pandas.core.series.Series

In [18]:
df_new = pd.DataFrame(np.random.rand(334,5),index=np.arange(334))

In [20]:
df_new.head()

          0         1         2         3         4
0  0.665950  0.114076  0.840657  0.843723  0.612526
1  0.824628  0.053354  0.805295  0.591366  0.646258
2  0.899741  0.187708  0.380376  0.745622  0.834218
3  0.199707  0.226303  0.207464  0.993856  0.945886
4  0.876956  0.217283  0.617577  0.033705  0.666322

In [21]:
type(df_new)

pandas.core.frame.DataFrame

In [23]:
df_new.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [24]:
df_new.describe()

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.486869    0.492392    0.532436    0.522144    0.509716
std      0.300415    0.290227    0.295555    0.297079    0.283255
min      0.000396    0.010163    0.001084    0.000355    0.004161
25%      0.221028    0.231245    0.268649    0.234732    0.290343
50%      0.479007    0.486087    0.569265    0.509642    0.495420
75%      0.738966    0.754147    0.787988    0.794052    0.743907
max      0.994022    0.996296    0.999093    0.993856    0.995469

In [28]:
type(df_new.to_numpy())

numpy.ndarray

In [27]:
type(df_new)

pandas.core.frame.DataFrame

In [30]:
df_new.columns

RangeIndex(start=0, stop=5, step=1)

In [31]:
df_new.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
           dtype='int64', length=334)