<a href="https://colab.research.google.com/github/almostdevelopr/data-science-python/blob/main/pandas/intro_to_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
dict1={
    "name":['rohan','manish','suna','harry'],
    "marks":[92,32,44,53],
    "city":['rampur','kolkata','bareilly','mumbai']
}

In [4]:
df=pd.DataFrame(dict1)

In [5]:
df

     name  marks      city
0   rohan     92    rampur
1  manish     32   kolkata
2    suna     44  bareilly
3   harry     53    mumbai

In [ ]:
# auto indexing in data frames

In [6]:
df.to_csv("friends.csv")

In [7]:
df.to_csv("friends_no_index.csv",index=False)

In [8]:
df.describe() # for numerical data only -> calculates mean,count,std,min

           marks
count   4.000000
mean   55.250000
std    25.966324
min    32.000000
25%    41.000000
50%    48.500000
75%    62.750000
max    92.000000

In [9]:
df_mod=pd.read_csv("friends_no_index.csv")

In [11]:
df_mod.index=['first','second','third','fourth']

In [12]:
df_mod

          name  marks      city
first    rohan     92    rampur
second  manish     32   kolkata
third     suna     44  bareilly
fourth   harry     53    mumbai