<a href="https://colab.research.google.com/github/almostdevelopr/data-science-python/blob/main/pandas/intro_to_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dict1={
    "name":['rohan','manish','suna','harry'],
    "marks":[92,32,44,53],
    "city":['rampur','kolkata','bareilly','mumbai']
}

In [ ]:
df=pd.DataFrame(dict1)

In [ ]:
df

     name  marks      city
0   rohan     92    rampur
1  manish     32   kolkata
2    suna     44  bareilly
3   harry     53    mumbai

In [ ]:
# auto indexing in data frames

In [ ]:
df.to_csv("friends.csv")

In [ ]:
df.to_csv("friends_no_index.csv",index=False)

In [ ]:
df.describe() # for numerical data only -> calculates mean,count,std,min

           marks
count   4.000000
mean   55.250000
std    25.966324
min    32.000000
25%    41.000000
50%    48.500000
75%    62.750000
max    92.000000

In [ ]:
df_mod=pd.read_csv("friends_no_index.csv")

In [ ]:
df_mod.index=['first','second','third','fourth']

In [ ]:
df_mod

          name  marks      city
first    rohan     92    rampur
second  manish     32   kolkata
third     suna     44  bareilly
fourth   harry     53    mumbai

In [ ]:
ser = pd.Series(np.random.rand(34))

In [ ]:
ser

0     0.690261
1     0.829006
2     0.397918
3     0.603660
4     0.342997
5     0.230693
6     0.485408
7     0.986645
8     0.006037
9     0.026279
10    0.986519
11    0.585853
12    0.924260
13    0.324650
14    0.231805
15    0.676977
16    0.610692
17    0.096504
18    0.341059
19    0.174979
20    0.674158
21    0.171003
22    0.877170
23    0.537167
24    0.347180
25    0.752426
26    0.813416
27    0.584288
28    0.678707
29    0.709850
30    0.302371
31    0.328329
32    0.819125
33    0.831675
dtype: float64

In [ ]:
type(ser)

pandas.core.series.Series

In [ ]:
df_new = pd.DataFrame(np.random.rand(334,5),index=np.arange(334))

In [ ]:
df_new.head()

          0         1         2         3         4
0  0.696533  0.609657  0.160248  0.942893  0.243358
1  0.233320  0.220013  0.110501  0.649841  0.301133
2  0.656529  0.988448  0.843526  0.543404  0.968909
3  0.571870  0.228413  0.035543  0.914739  0.713584
4  0.600710  0.287881  0.183737  0.328868  0.431336

In [ ]:
type(df_new)

pandas.core.frame.DataFrame

In [ ]:
df_new.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [ ]:
df_new.describe()

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.509120    0.501023    0.495513    0.509134    0.480922
std      0.307188    0.284237    0.284982    0.288481    0.287796
min      0.000173    0.002027    0.004008    0.002966    0.001358
25%      0.231275    0.247997    0.259137    0.274786    0.238139
50%      0.525037    0.499722    0.469078    0.510663    0.463737
75%      0.786908    0.742856    0.734904    0.770288    0.709063
max      0.997915    0.999015    0.999621    0.999448    0.999684

In [ ]:
type(df_new.to_numpy())

numpy.ndarray

In [ ]:
type(df_new)

pandas.core.frame.DataFrame

In [ ]:
df_new.columns

RangeIndex(start=0, stop=5, step=1)

In [ ]:
df_new.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
           dtype='int64', length=334)

In [ ]:
df_new

            0         1         2         3         4
0    0.696533  0.609657  0.160248  0.942893  0.243358
1    0.233320  0.220013  0.110501  0.649841  0.301133
2    0.656529  0.988448  0.843526  0.543404  0.968909
3    0.571870  0.228413  0.035543  0.914739  0.713584
4    0.600710  0.287881  0.183737  0.328868  0.431336
..        ...       ...       ...       ...       ...
329  0.084141  0.155470  0.385064  0.333357  0.065914
330  0.564278  0.850611  0.867025  0.775514  0.744278
331  0.124190  0.141279  0.832735  0.289216  0.500450
332  0.368692  0.573027  0.947076  0.438059  0.524964
333  0.005850  0.466783  0.968152  0.483012  0.379994

[334 rows x 5 columns]

In [ ]:
# copy and view in python dataframes
newdf=df_new # view

In [ ]:
newdf[0][0]=16590

In [ ]:
df_new

                0         1         2         3         4
0    16590.000000  0.609657  0.160248  0.942893  0.243358
1        0.233320  0.220013  0.110501  0.649841  0.301133
2        0.656529  0.988448  0.843526  0.543404  0.968909
3        0.571870  0.228413  0.035543  0.914739  0.713584
4        0.600710  0.287881  0.183737  0.328868  0.431336
..            ...       ...       ...       ...       ...
329      0.084141  0.155470  0.385064  0.333357  0.065914
330      0.564278  0.850611  0.867025  0.775514  0.744278
331      0.124190  0.141279  0.832735  0.289216  0.500450
332      0.368692  0.573027  0.947076  0.438059  0.524964
333      0.005850  0.466783  0.968152  0.483012  0.379994

[334 rows x 5 columns]

In [ ]:
df_new[0][0]=16550

In [ ]:
newdf

                0         1         2         3         4
0    16550.000000  0.609657  0.160248  0.942893  0.243358
1        0.233320  0.220013  0.110501  0.649841  0.301133
2        0.656529  0.988448  0.843526  0.543404  0.968909
3        0.571870  0.228413  0.035543  0.914739  0.713584
4        0.600710  0.287881  0.183737  0.328868  0.431336
..            ...       ...       ...       ...       ...
329      0.084141  0.155470  0.385064  0.333357  0.065914
330      0.564278  0.850611  0.867025  0.775514  0.744278
331      0.124190  0.141279  0.832735  0.289216  0.500450
332      0.368692  0.573027  0.947076  0.438059  0.524964
333      0.005850  0.466783  0.968152  0.483012  0.379994

[334 rows x 5 columns]

In [ ]:
newdf2=df_new.copy() # creates a copy of an existing dataframe

In [ ]:
newdf

                0         1         2         3         4
0    16550.000000  0.609657  0.160248  0.942893  0.243358
1        0.233320  0.220013  0.110501  0.649841  0.301133
2        0.656529  0.988448  0.843526  0.543404  0.968909
3        0.571870  0.228413  0.035543  0.914739  0.713584
4        0.600710  0.287881  0.183737  0.328868  0.431336
..            ...       ...       ...       ...       ...
329      0.084141  0.155470  0.385064  0.333357  0.065914
330      0.564278  0.850611  0.867025  0.775514  0.744278
331      0.124190  0.141279  0.832735  0.289216  0.500450
332      0.368692  0.573027  0.947076  0.438059  0.524964
333      0.005850  0.466783  0.968152  0.483012  0.379994

[334 rows x 5 columns]

In [ ]:
newdf2.head()

              0         1         2         3         4
0  16550.000000  0.609657  0.160248  0.942893  0.243358
1      0.233320  0.220013  0.110501  0.649841  0.301133
2      0.656529  0.988448  0.843526  0.543404  0.968909
3      0.571870  0.228413  0.035543  0.914739  0.713584
4      0.600710  0.287881  0.183737  0.328868  0.431336

In [ ]:
newdf[0][0]=16572

In [ ]:
newdf2

                0         1         2         3         4
0    16550.000000  0.609657  0.160248  0.942893  0.243358
1        0.233320  0.220013  0.110501  0.649841  0.301133
2        0.656529  0.988448  0.843526  0.543404  0.968909
3        0.571870  0.228413  0.035543  0.914739  0.713584
4        0.600710  0.287881  0.183737  0.328868  0.431336
..            ...       ...       ...       ...       ...
329      0.084141  0.155470  0.385064  0.333357  0.065914
330      0.564278  0.850611  0.867025  0.775514  0.744278
331      0.124190  0.141279  0.832735  0.289216  0.500450
332      0.368692  0.573027  0.947076  0.438059  0.524964
333      0.005850  0.466783  0.968152  0.483012  0.379994

[334 rows x 5 columns]

In [ ]:
newdf.head(2)

             0         1         2         3         4
0  16572.00000  0.609657  0.160248  0.942893  0.243358
1      0.23332  0.220013  0.110501  0.649841  0.301133

In [ ]:
newdf.columns=list("ABCDE")

In [ ]:
newdf.head()

              A         B         C         D         E
0  16572.000000  0.609657  0.160248  0.942893  0.243358
1      0.233320  0.220013  0.110501  0.649841  0.301133
2      0.656529  0.988448  0.843526  0.543404  0.968909
3      0.571870  0.228413  0.035543  0.914739  0.713584
4      0.600710  0.287881  0.183737  0.328868  0.431336

In [ ]:
newdf.loc[0,'B']=12345

In [ ]:
newdf

                A             B         C         D         E
0    16572.000000  12345.000000  0.160248  0.942893  0.243358
1        0.233320      0.220013  0.110501  0.649841  0.301133
2        0.656529      0.988448  0.843526  0.543404  0.968909
3        0.571870      0.228413  0.035543  0.914739  0.713584
4        0.600710      0.287881  0.183737  0.328868  0.431336
..            ...           ...       ...       ...       ...
329      0.084141      0.155470  0.385064  0.333357  0.065914
330      0.564278      0.850611  0.867025  0.775514  0.744278
331      0.124190      0.141279  0.832735  0.289216  0.500450
332      0.368692      0.573027  0.947076  0.438059  0.524964
333      0.005850      0.466783  0.968152  0.483012  0.379994

[334 rows x 5 columns]

In [45]:
newdf.loc[[1,3],['A','C']]

         A         C
1  0.23332  0.110501
3  0.57187  0.035543

In [46]:
newdf

                A             B         C         D         E
0    16572.000000  12345.000000  0.160248  0.942893  0.243358
1        0.233320      0.220013  0.110501  0.649841  0.301133
2        0.656529      0.988448  0.843526  0.543404  0.968909
3        0.571870      0.228413  0.035543  0.914739  0.713584
4        0.600710      0.287881  0.183737  0.328868  0.431336
..            ...           ...       ...       ...       ...
329      0.084141      0.155470  0.385064  0.333357  0.065914
330      0.564278      0.850611  0.867025  0.775514  0.744278
331      0.124190      0.141279  0.832735  0.289216  0.500450
332      0.368692      0.573027  0.947076  0.438059  0.524964
333      0.005850      0.466783  0.968152  0.483012  0.379994

[334 rows x 5 columns]

In [47]:
newdf.drop(0) # by default rows

            A         B         C         D         E
1    0.233320  0.220013  0.110501  0.649841  0.301133
2    0.656529  0.988448  0.843526  0.543404  0.968909
3    0.571870  0.228413  0.035543  0.914739  0.713584
4    0.600710  0.287881  0.183737  0.328868  0.431336
5    0.851221  0.688385  0.261079  0.521515  0.144765
..        ...       ...       ...       ...       ...
329  0.084141  0.155470  0.385064  0.333357  0.065914
330  0.564278  0.850611  0.867025  0.775514  0.744278
331  0.124190  0.141279  0.832735  0.289216  0.500450
332  0.368692  0.573027  0.947076  0.438059  0.524964
333  0.005850  0.466783  0.968152  0.483012  0.379994

[333 rows x 5 columns]

In [49]:
newdf.drop(['E'],axis=1)

                A             B         C         D
0    16572.000000  12345.000000  0.160248  0.942893
1        0.233320      0.220013  0.110501  0.649841
2        0.656529      0.988448  0.843526  0.543404
3        0.571870      0.228413  0.035543  0.914739
4        0.600710      0.287881  0.183737  0.328868
..            ...           ...       ...       ...
329      0.084141      0.155470  0.385064  0.333357
330      0.564278      0.850611  0.867025  0.775514
331      0.124190      0.141279  0.832735  0.289216
332      0.368692      0.573027  0.947076  0.438059
333      0.005850      0.466783  0.968152  0.483012

[334 rows x 4 columns]

In [50]:
newdf.drop(['B'],axis=1,inplace=True)

In [52]:
newdf.head()

              A         C         D         E
0  16572.000000  0.160248  0.942893  0.243358
1      0.233320  0.110501  0.649841  0.301133
2      0.656529  0.843526  0.543404  0.968909
3      0.571870  0.035543  0.914739  0.713584
4      0.600710  0.183737  0.328868  0.431336

In [53]:
newdf.drop([1,3],axis=0,inplace=True)

In [55]:
newdf.head(5)

              A         C         D         E
0  16572.000000  0.160248  0.942893  0.243358
2      0.656529  0.843526  0.543404  0.968909
4      0.600710  0.183737  0.328868  0.431336
5      0.851221  0.261079  0.521515  0.144765
6      0.844527  0.602078  0.264930  0.669933

In [57]:
newdf.reset_index(drop=True)

                A         C         D         E
0    16572.000000  0.160248  0.942893  0.243358
1        0.656529  0.843526  0.543404  0.968909
2        0.600710  0.183737  0.328868  0.431336
3        0.851221  0.261079  0.521515  0.144765
4        0.844527  0.602078  0.264930  0.669933
..            ...       ...       ...       ...
327      0.084141  0.385064  0.333357  0.065914
328      0.564278  0.867025  0.775514  0.744278
329      0.124190  0.832735  0.289216  0.500450
330      0.368692  0.947076  0.438059  0.524964
331      0.005850  0.968152  0.483012  0.379994

[332 rows x 4 columns]

In [58]:
newdf.head()

              A         C         D         E
0  16572.000000  0.160248  0.942893  0.243358
2      0.656529  0.843526  0.543404  0.968909
4      0.600710  0.183737  0.328868  0.431336
5      0.851221  0.261079  0.521515  0.144765
6      0.844527  0.602078  0.264930  0.669933

In [59]:
newdf.reset_index(drop=True,inplace=True) # permanent effect using inplace attribute

In [60]:
newdf.head()

              A         C         D         E
0  16572.000000  0.160248  0.942893  0.243358
1      0.656529  0.843526  0.543404  0.968909
2      0.600710  0.183737  0.328868  0.431336
3      0.851221  0.261079  0.521515  0.144765
4      0.844527  0.602078  0.264930  0.669933

In [63]:
newdf.loc[:,['A']]=None

In [66]:
newdf['A'].isnull()

0      True
1      True
2      True
3      True
4      True
       ...
327    True
328    True
329    True
330    True
331    True
Name: A, Length: 332, dtype: bool

In [82]:
df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Alfred'],
                   "toy": ["Alfred", np.nan, np.nan],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),
                            pd.NaT]})

In [68]:
df

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [69]:
df.dropna()

     name        toy       born
1  Batman  Batmobile 1940-04-25

In [74]:
df

       name  toy       born
0    Alfred  NaN        NaT
1    Batman  NaN 1940-04-25
2  Catwoman  NaN        NaT

In [77]:
df.dropna(how="all",axis=1,inplace=True)

In [78]:
df

       name       born
0    Alfred        NaT
1    Batman 1940-04-25
2  Catwoman        NaT

In [83]:
df

     name     toy       born
0  Alfred  Alfred        NaT
1  Batman     NaN 1940-04-25
2  Alfred     NaN        NaT

In [89]:
df.drop_duplicates(subset=['name'],keep=False)

     name  toy       born
1  Batman  NaN 1940-04-25

In [90]:
df

     name     toy       born
0  Alfred  Alfred        NaT
1  Batman     NaN 1940-04-25
2  Alfred     NaN        NaT